<div class="container centered mt-6 mb-6">
  <h1 class="title">Payment Form</h1>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label">Receiver Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="receiver name"
            (input)="onInputName($event)"
          />
        </div>
        <p class="help is-success">Payment receiver</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label">Receiver Name</label>
        <p>{{ name | titlecase }}</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label">Payment Date</label>
        <div class="control">
          <input
            class="input"
            type="date"
            placeholder="payment date"
            (input)="onInputDate($event)"
          />
        </div>
        <p class="help is-success">Payment date</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label">Payment Date</label>
        <p>{{ date | date : "full" }}</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label">Payment Amount</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="payment amount"
            (input)="onInputAmount($event)"
          />
        </div>
        <p class="help is-success">Payment Amount</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label">Payment Amount</label>
        <p>{{ amount | currency }}</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label">Height</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="height in cm"
            (input)="onInputHeight($event)"
          />
        </div>
        <p class="help is-success">Height</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label">Height</label>
        <p>{{ height | number : "1.0-0" }} cm</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <label class="label">Distance</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="distance in miles"
            (input)="onInputDistance($event)"
          />
        </div>
        <p class="help is-success">Distance</p>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <label class="label">Distance in km</label>
        <p>{{ distance | convertUnit : 'km' | number : "1.0-2"}} km</p>
      </div>
    </div>
  </div>
</div>
